[Unit]
Description=Carbonio Config Daemon
PartOf=carbonio-appserver.target carbonio-directory-server.target carbonio-mta.target carbonio-proxy.target carbonio-ce.target carbonio.target

[Service]
User=zextras
Environment="JYTHONPATH=/opt/zextras/common/lib/jylibs"
EnvironmentFile=-/opt/zextras/data/systemd.env
ExecStartPre=/opt/zextras/bin/systemd-envscript
ExecStartPre=nc -z $ldap_domain $ldap_port
ExecStart=/opt/zextras/libexec/zmconfigd
RestartSec=3
Restart=on-failure

[Install]
WantedBy=carbonio-appserver.target carbonio-ce.target carbonio.target carbonio-directory-server.target carbonio-mta.target carbonio-proxy.target carbonio-ce.target carbonio.target
