# SPDX-FileCopyrightText: 2022 Zextras <https://www.zextras.com>
#
# SPDX-License-Identifier: AGPL-3.0-only

[Unit]
Description=Zextras Carbonio
Documentation=man:systemd.special(7)
Wants=carbonio-appserver.target carbonio-directory-server.target carbonio-mta.target carbonio-proxy.target multi-user.target
After=carbonio-appserver.target carbonio-directory-server.target carbonio-mta.target carbonio-proxy.target multi-user.target
AllowIsolate=yes

[Install]
WantedBy=multi-user.target
