# SPDX-FileCopyrightText: 2022 Zextras <https://www.zextras.com>
#
# SPDX-License-Identifier: AGPL-3.0-only

[Unit]
Description=Carbonio Stats Daemon
PartOf=carbonio-appserver.target carbonio-directory-server.target carbonio-mta.target carbonio-proxy.target

[Service]
User=zextras
Type=forking
PIDFile=/run/carbonio/stats/allprocs.pid
ExecStart=/opt/zextras/bin/zmstatctl start-systemd
ExecStop=/opt/zextras/bin/zmstatctl stop-systemd
RestartSec=3s
Restart=on-failure

[Install]
WantedBy=carbonio-appserver.target carbonio-directory-server.target carbonio-mta.target carbonio-proxy.target
