[Unit]
Description=Zextras Carbonio
Documentation=man:systemd.special(7)
Wants=carbonio-appserver.target carbonio-directory-server.target carbonio-mta.target carbonio-proxy.target multi-user.target
After=carbonio-appserver.target carbonio-directory-server.target carbonio-mta.target carbonio-proxy.target multi-user.target
AllowIsolate=yes

[Install]
WantedBy=multi-user.target
