[Unit]
Description=Carbonio Config Daemon
PartOf=carbonio-appserver.target carbonio-directory-server.target carbonio-mta.target carbonio-proxy.target carbonio-ce.target carbonio.target

[Service]
User=zextras
Environment="JYTHONPATH=/opt/zextras/common/lib/jylibs"
EnvironmentFile=-/opt/zextras/data/systemd.env
PIDFile=/opt/zextras/log/zmconfigd.pid
ExecCondition=/opt/zextras/common/bin/ldapsearch $ldapsearch_flags
ExecStartPre=/opt/zextras/bin/systemd-envscript
ExecStart=/opt/zextras/libexec/zmconfigd
RestartSec=3
Restart=on-failure
SuccessExitStatus=34

[Install]
WantedBy=carbonio-appserver.target carbonio-ce.target carbonio.target carbonio-directory-server.target carbonio-mta.target carbonio-proxy.target carbonio-ce.target carbonio.target